@using ERPAnimalia.Models;

<!DOCTYPE html>

@model ERPAnimalia.Models.VoucherDetailModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/1.3.1-js-gijgo.js"></script>

    <title>Factura</title>
</head>
<body>
    <table id="grid"></table>
    <script type="text/javascript">
        var id;
        var isLoad;
        var gridDetail;
        $(document).ready(function () {
            SaveEnabled();
            $("#Descripcion1").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Voucher/GetProduct",
                        type: "POST", dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Descripcion1, value: item.Descripcion1 };
                                GetTotal();
                                SaveEnabled();
                            }));
                        }
                    });
                },
                messages: { noResults: "", results: "" }
            });

         
            gridDetail = $("#gridDetail").grid({
                dataSource: "/Voucher/GetProductDetail",
                dataKey: "IdProduct",
                uiLibrary: "bootstrap",
                columns: [
                     { field: "IdProduct", hidden: true },
                    { field: "Codigo", title: "Código", sortable: true, width:100 },
                    { field: "Descripcion1", title: "Descripcion1", sortable: true, width: 150 },
                    { field: "PrecioVenta", title: "Precio Venta", sortable: true, width: 120 },
                    { field: "Cantidad", title: "Cantidad", editor: true, width: 100 },
                    { field: "Descuento", title: "Descuento", editor: true, width: 100 },
                     { field:"Porcentage", title: "%", sortable: true, width: 100, format: '00,00' },
                    { field: "Subtotal", title: "Subtotal", sortable: true, width: 100, format:'00,00'},
                    { width: 150, align: 'center', tmpl: '<u class="gj-cursor-pointer">Delete</u>', events: { 'click': Delete } }
                ],
                optimisticPersistence: { sessionStorage: ["page", "limit"] },
                pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
            });
            gridDetail.on('cellDataChanged', function (e, $cell, column, record, oldValue, newValue) {
                CalculateRow(record)
            });

            $('#Descripcion1').blur(function () {
                if ($("#Descripcion1").val() != "")
                {
                    gridDetail.reload({ term: $("#Descripcion1").val(), cantidad: $("#Cantidad").val(), descuento: $("#Descuento").val() });
                    SaveEnabled();
                }
                
            });
            gridDetail.on('dataBound', function (e, records, totalRecords) {
                debugger;
                GetTotal();
                SaveEnabled();
            });
            $("#btnSave").on("click", Save);
        });
           

            function CalculateRow(record) {
                $.ajax({
                    url: "/Voucher/GetSubtotal",
                    type: "GET", dataType: "json",
                    data: { idProduct: record.IdProduct, cantidad: record.Cantidad, descuento: record.Descuento },
                    success: function (data) {
                        gridDetail.reload();
                        GetTotal();
                    }
                });
            }

            function GetTotal()
            {             
                    if (gridDetail.count() != 0) {
                        var totalRows = gridDetail.count();
                        var row = gridDetail.get(totalRows);
                        $("#totalVoucher").val(row.Total);
                    }
            }
            function Save() {
                var  client= $("#NombreCompleto").val();
                var  dateVoucher= $("#DateVoucher").val();
                var tipoComprobante= $("#TipoComprobante").val();
                var formaPago = $("#formaDePago").val();
                
                $.ajax({ url: "/Voucher/Save", type: "POST", data: { cliente: client, date: dateVoucher, comprobante: tipoComprobante, formaDePago: formaPago, tipoVenta: $("#tipoVenta").val() } })
                    .done(function (data) {
                        debugger;
                        alert(data);
                        gridDetail.clear();
                       $("#NombreCompleto").val("");
                       $("#DateVoucher").val("");
                       $("#idTelefono").html("");
                       $("#idDireccion").html("");
                       $('#Descripcion1').val("");

                    })
                    .fail(function () {
                        alert("Unable to save.");
                        $("#clienteModal").modal("hide");
                    }); 
            }
            function SaveEnabled()
            {
                if (gridDetail != 'undefine' &&  $("#NombreCompleto").val() != '')
                {
                    if (gridDetail.count() != 0)
                    {
                        btnSave.disabled = false;
                    }
                    else {
                        btnSave.disabled = true;
                    }
                   
                }
                else
                {
                    btnSave.disabled = true;
                }
                
            }

            function Delete(e) {
                if (confirm('Are you sure?')) { 
                $.ajax({
                    url: "/Voucher/Delete",
                    type: "post", dataType: "json",
                    data: { idProduct: e.data.record.IdProduct },
                    success: function (data) {
                        gridDetail.reload();
                       
                    }
                
                });
                GetTotal();
               }
            }
    </script>
    <div class="container-fluid">
        @{
            Html.RenderPartial("HeadVoucher");
        }
        <!-- Nav tabs -->
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#productTab" aria-controls="productoTab" role="tab" data-toggle="tab">Product</a>
                </li>
                <li role="presentation">
                    <a href="#informationTab" aria-controls="informationTab" role="tab" data-toggle="tab">Informacion</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="productTab">
                    <h4>Datos</h4>
                    <form class="form-horizontal">

                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label col-md-2">Producto:</label>
                                @Html.EditorFor(model => model.ProductModel.First().Descripcion1, new { htmlAttributes = new { @class = "form-control col-md-offset-3" } })
                            </div>


                            <div class="form-group">
                                @Html.DropDownList("tipoVenta", new SelectList((System.Collections.IEnumerable)ViewData["TipoVenta"]), new { @class = "form-control" })
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="gridDetail" ></table>
                                @Html.Label("Total=") @Html.TextBox("totalVoucher")
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="informationTab">

                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
