@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css/Voucher.css" rel="stylesheet" />
<table id="wrapper">
    <tr>
        <td><img src="~/Content/images/animaliaHome.gif" alt="" /></td>
    </tr>
</table>
