body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#f39c12 !important;
   opacity: 0.9;
}
.container-fluid
{
    background-color: #ffffff !important;
    padding: 0 15px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.panel {
    width:130% !important;
}
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}
input.invalid{
	border: 2px solid red;
}

input.valid{
	border: 2px solid green;
}
#loginForm .has-error .control-label,
#loginForm .has-error .help-block,
#loginForm .has-error .form-control-feedback {
    color: #f39c12;
}

#loginForm .has-success .control-label,
#loginForm .has-success .help-block,
#loginForm .has-success .form-control-feedback {
    color: #18bc9c;
}

.panel-primary {
    width: 2000px;
}

.panel-primary-factura {
    width: 950px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#grid{
    background-color:#ffffff;
}

td{
    color: black;  
}

.panel-primary
{
    margin-top:20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
   color:#fff !important;
   background-color:#0044cc !important;
}

a {
    color: #fff !important;
    background-color: #03A9F4 !important;
}
th{
  background-color: #0044cc!important;
  color: #fff !important;
}

#modalDialog{
    width:800px;
}