
@using ERPAnimalia.Models;


<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.js"></script>


    @model PagedList.IPagedList<ProductModels>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lista de Producto</title>

</head>
<body>




   
</table>
</body>
</html>
<SCRIPT type="text/javascript">
   

</SCRIPT>


