<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle Producto</title>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.1.10.1.js"></script>
    <script src="~/Scripts/gijgo.js"></script>
    
 <script type="text/javascript">

     $(document).ready(function () {
         gridProduct = $("#gridProduct").grid({
             dataKey: "IdProducto",
             uiLibrary: "bootstrap",
             columns: [
             { field: "IdProducto", hidden: true },
             { field: "Codigo", title: "Código", sortable: true, width: 80 },
             { field: "Marca", title: "Marca", sortable: true, width: 150 },
             { field: "Descripcion1", title: "Descripcion 1", sortable: true, width: 200 },
             { field: "Descripcion2", title: "Descripcion 2", sortable: true, width: 200 },
             { field: "SubCategoryName", title: "SubCategoria", sortable: true, width: 100 },
             { field: "CategoryName", title: "Categoria", sortable: true, width: 100 },
             { field: "Kg", title: "Kg",editor: true, sortable: true, width: 80 },
             { field: "Cantidad", title: "Cantidad",editor: true, sortable: true, width: 80 },
             { field: "PrecioCosto", title: "Precio Costo", editor: true,sortable: true, width: 80 },
             { field: "PrecioVenta", title: "Precio Venta",editor: true, sortable: true, width: 80 }
             ],
             selectionMethod: 'checkbox',
             selectionType: 'multiple',
             pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
         });
  
             $("#btnSearchGridProduct").on("click", SearchProduct);
             $("#btnSave").on("click", Save);
         });
     
        
     
         function SearchProduct() {
          
             gridProduct.reload({ searchString: $("#searchProduct").val() });
         }

    

         function Save() {
             debugger;
             var cantidad= new Array();
             var precioCosto=new Array();
             var idProducto=new Array();

             var selections = gridProduct.getSelections();
            
             $(selections).each(function (index, element) {
                 debugger;
                 var row = gridProduct.get(element);
                 idProducto[index] = row.IdProducto;
                 precioCosto[index]=row.PrecioCosto;
                 cantidad[index]=row.Cantidad;

             });

             var  proveedor= $("#NombreCompleto").val();
             var  formaPago= $("#formaPago").val();
             var date= $("#date").val();
             var fechaPago = $("#fechaPago").val();
                
             $.ajax({ url: "/DetailOrder/Save", type: "POST", data: { proveedor: client, date: date, comprobante: tipoComprobante, formaDePago: formaPago } })
                 .done(function (data) {                                        
                     $("#NombreCompleto").val(""); 
                 })
                 .fail(function () {
                     alert("Unable to save.");
                     $("#clienteModal").modal("hide");
                 }); 
         }
        

  </script>

</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">Producto</div>
        <br class="panel-body">
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-1">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button type="button" id="btnSearch" class="btn btn-default">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Product")'">Agregar Producto</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
            </div>
        </div>
        <br />
        <table id="gridProduct" data-source="@Url.Action("GetProduct")"></table>
    </div>
</body>
</html>