body {



}

 #product
{
    width:900px !important;
}

 #passLoose
 {
     width:900px !important;
 }

 .colVenta
 {
    background-color: MediumSeaGreen;
    
}

 .colCosto
 {
    background-color: #ff6347;
}

 